.contentWrapper {
  composes: contentLayout from '../../css/Layout.css';
}

.intro,
.quote {
  composes: quote from '../../css/Typography.css';
}

.caption {
  composes: small light from '../../css/Typography.css';
  text-align: center;
  margin: 1rem auto 2em;
}

.image {
  composes: imageLayout from '../../css/Layout.css';
  position: relative;

  & + .contentWrapper {
    margin-top: 3em;
  }

  .contentWrapper + &,
  .image_withCaption + & {
    margin-top: 4em;
  }
}

.image_withCaption {
  composes: image;
}
